#indexBox {
  margin-left: 80px;
  height: calc(100%);
  padding: 28px 0px;
  position: relative;
  overflow: hidden;
  background: #f5f5f5;
}

#indexBox .top {
  margin-top: 35px;
  height: 413px;
  width: 100%;
}

#indexBox .top-left {
  width: 660px;
  height: calc(100% - 2px);
  margin-left: 20px;
  float: left;
  box-shadow: -5px 5px 7px 0 rgba(0, 0, 0, .3);
  border-radius: 5px;
}

#indexBox .top-left .time {
  width: 100%;
  height: 60px;
  line-height: 60px;
  text-align: center;
  font-size: 28px;
  font-weight: 600;
  background: #43b3be;
  color: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

#indexBox .top-left .dashboard {
  width: 100%;
  height: calc(413px - 60px);
  border: 1px solid #b5b5b5;
  padding: 40px;
  border-top: none;
  background: #fff;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

#indexBox .top-left .dashboard .dashboard-left {
  width: 190px;
  height: 189px;
  margin-top: calc(113px - 80px);
  float: left;
}

#indexBox .top-left .dashboard .dashboard-left div {
  width: 100%;
  float: left;
  font-weight: bold;
}

.dashboard-left .analysis {
  font-size: 22px;
  color: #FF8000;
  margin-bottom: 27px;
}

.workload,
.crisis,
.memorize {
  font-size: 18px;
  color: #7092bf;
  margin-bottom: 23px;
}

.crisis {
  color: #ed1b24;
  position: relative;
}

.crisis img {
  cursor: pointer;
  vertical-align: middle;
}

#indexBox .top-left .dashboard .dashboard-left .crisis-value {
  padding: 20px 10px;
  width: 300px;
  background: #fff;
  position: absolute;
  top: 160px;
  left: 160px;
  z-index: 111;
  border-radius: 5px;
  border: 1px solid #ebeef5;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
}

.isShowCrisis {
  display: none;
}

.memorize {
  color: #ffc90d;
}

.use {
  font-size: 18px;
  color: #231814;
}

#indexBox .top-left .dashboard .dashboard-right {
  width: calc(100% - 190px - 30px);
  height: 100%;
  margin-left: 30px;
  float: left;
}

#indexBox .top-left .dashboard .dashboard-right .count {
  width: 100%;
  text-align: left;
  font-size: 90px;
  font-weight: bold;
  color: #ff8000;
  line-height: 70px;
  letter-spacing: 14px;
}

#indexBox .top-left .dashboard .dashboard-right .progress {
  width: 100%;
  height: calc(100% - 90px);
  margin-top: 20px;
}

#indexBox .top-left .dashboard .dashboard-right .progress .progress-left {
  width: 38px;
  height: 100%;
  float: left;
}

#indexBox .top-left .dashboard .dashboard-right .progress-right {
  width: calc(100% - 38px);
  height: 100%;
  float: left;
}

#indexBox .top-left .dashboard .dashboard-right .progress-right .progress-item {
  width: 100%;
  height: 26px;
  float: left;
  margin-top: 30px;
}

.wear {
  border: 1px solid #22B14C;
  position: relative;
}

#wear {
  position: absolute;
  height: 26px;
  background: #22B14C;
  top: -1px;
}

.child-0 {
  position: absolute;
  top: 4px;
  left: calc((100% - 10px) / 2)
}

.child-1 {
  position: absolute;
  top: 4px;
  left: calc((100% - 10px) / 2)
}

.child-2 {
  position: absolute;
  top: 4px;
  left: calc((100% - 10px) / 2)
}

.import {
  border: 1px solid #7092BE;
  position: relative;
}

#import {
  position: absolute;
  height: 26px;
  background: #7092BE;
  top: -1px;
}

.panalysis {
  border: 1px solid #408080;
  position: relative;
}

#panalysis {
  position: absolute;
  height: 26px;
  background: #408080;
  top: -1px;
}

#indexBox .progress .progress-left .sign {
  height: 26px;
  line-height: 26px;
  margin-top: 30px;
  font-weight: bold;
}


/* 上右 */

#indexBox .top-right {
  width: calc(100% - 660px - 13px - 20px * 2);
  height: 100%;
  margin-left: 13px;
  float: left;
  background: #fff;
  border: 1px solid #dadada;
  box-shadow: 7px 5px 12px 0 rgba(0, 0, 0, .3);
  border-radius: 5px;
}

#indexBox .top-right .title {
  height: 60px;
  width: 100%;
  background: #efefef;
  font-size: 20px;
  font-weight: bold;
  color: #221914;
  text-align: center;
  line-height: 60px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

#indexBox .top-right .statistical-charts {
  width: 100%;
  height: calc(100% - 60px);
  border-top: 0px;
}


/* 下面表格样式 */

#indexBox .bottom {
  height: calc(100% - 413px - 27px);
  width: 100%;
  padding: 27px 20px;
  position: relative;
}

#indexBox .bottom .table-wapper {
  width: calc(100% - 55px);
  height: calc(43vh - 3px);
  overflow: hidden;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .3);
  border-radius: 5px;
}

#indexBox .bottom .table-wapper .title {
  height: 48px;
  line-height: 48px;
  width: 100%;
  text-align: center;
  background: #ddd;
  font-size: 20px;
  font-weight: bold;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

table.table-inner-wapper tr:nth-child(8) {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

table.table-inner-wapper tr:nth-child(even) {
  background: #E2FCFA;
}

table.table-inner-wapper tr:nth-child(odd) {
  background: #fff;
}

.table-wapper table.table-inner-wapper {
  display: table;
  width: 100%;
  height: 2vh;
  border-collapse: collapse;
  overflow: hidden;
}

table.table-inner-wapper tbody {
  display: block;
  height: calc(38vh - 3px);
  overflow-y: auto;
}

table.table-inner-wapper tbody tr {
  display: table;
  width: calc(100% - 1px);
  table-layout: fixed;
}

table.table-inner-wapper thead {
  width: calc( 100% - 1em);
}

.table-wapper table.table-inner-wapper .date {
  font-weight: 600;
}

table.table-inner-wapper td,
table.table-inner-wapper th {
  border: 1px solid #cad9de;
  font-size: 16px;
  height: 30px;
  cursor: pointer;
  text-align: center;
  padding: 5px;
}

table.table-inner-wapper td.about-date {
  width: 121px;
  height: 32px;
}


/* 切换日历 */

.table-wapper .change-week {
  width: 35px;
  height: 252px;
  position: absolute;
  top: 27px;
  right: 27px;
}

.table-wapper .change-week .table-date-img {
  display: block;
  margin-bottom: 9px;
  cursor: pointer;
}


/* 版本弹框 */

.version-wapper #popLayer {
  display: none;
  background-color: #000;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  -moz-opacity: 0.6;
  opacity: .6;
  filter: alpha(opacity=60);
  /* 只支持IE6、7、8、9 */
}

.version-wapper .version-msg {
  display: none;
  background-color: #FFFFFF;
  z-index: 11;
  width: 530px;
  min-height: 300px;
  position: fixed;
  top: calc((100% - 300px) / 2);
  right: 0;
  left: 0;
  margin: auto;
  box-shadow: 1px 1px 50px rgba(0, 0, 0, .3);
  overflow: hidden;
}

.version-msg .title {
  height: 40px;
  line-height: 40px;
  width: 100%;
  color: #fff;
  text-align: center;
  color: white;
  font-size: 18px;
  background-color: #34A8E4
}

.version-msg ul {
  padding: 5px 20px;
}

.version-msg ul.content {
  height: 200px;
  width: 100%;
  overflow-y: auto;
}

.version-msg ul.content li {
  padding: 5px 0px;
}

.version-msg ul li {
  padding: 8px 0px;
}