.top-nav {
  height: 35px;
  line-height: 35px;
  font-size: 20px;
  background: #000;
  border-bottom: 1px solid #c0c0c0;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 2;
}

.top-nav .header-box {
  float: left;
  height: 26px;
  margin-left: 30px;
  margin-top: 6px;
}

.top-nav .header-box img {
  width: 100%;
  height: 100%;
}


/* .top-nav .time {
  float: left;
  padding-left: 10px;
  font-size: 20px;
  width: 50%;
}

.top-nav .time .img-box {
  width: 30px;
  height: 30px;
  margin: 10px;
  float: left;
}

.top-nav .time .img-box img {
  width: 100%;
  height: 100%;
}

.top-nav .time #time {
  float: left;
  height: 50px;
  line-height: 50px;
} */

.top-nav .user {
  float: right;
  height: 35px;
  line-height: 35px;
  margin-right: 20px;
  color: #fff;
  font-size: 14px;
}

.top-nav .user #name {
  float: left;
}

.top-nav .user .sub-title {
  float: left;
}

.top-nav .user .line {
  float: left;
  display: inline-block;
  height: 20px;
  width: 2px;
  margin: 9px;
  background: #c0c0c0;
  line-height: 20px;
  display: none;
}

.top-nav .user .img-box {
  float: left;
  width: 26px;
  height: 26px;
  margin: 4px;
  cursor: pointer;
}