.top-nav {
  height: 35px;
  line-height: 35px;
  font-size: 20px;
  background: #3e3a39;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 2;
}

.top-nav .header-box {
  float: left;
  height: 26px;
  margin-top: 3px;
}

.top-nav .user {
  float: right;
  height: 35px;
  line-height: 35px;
  margin-right: 20px;
  color: #fff;
  font-size: 14px;
}

.top-nav .user #name {
  float: left;
}

.top-nav .user .sub-title {
  float: left;
}

.top-nav .user .line {
  float: left;
  display: inline-block;
  height: 20px;
  width: 2px;
  margin: 9px;
  background: #c0c0c0;
  line-height: 20px;
  display: none;
}

.top-nav .user .img-box {
  float: left;
  width: 20px;
  height: 20px;
  margin: 6px;
  cursor: pointer;
}