.order-wapper {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  padding-top: 50px;
  background: #f5f5f5;
}

.order-content {
  width: calc(100% - 80px);
  height: 100%;
  float: left;
  margin-left: 80px;
  padding: 63px 20px 0px 20px;
  overflow: hidden;
  background: #f5f5f5;
}

.top-box-wapper {
  display: flex;
  justify-content: space-between;
}


/* 左1 */

.adorn {
  width: 98%;
  height: 208px;
  border: 1px solid rgb(214, 214, 214);
  float: left;
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: -2px 1px 12px 0px rgba(0, 0, 0, 0.3);
  margin-right: 2%;
}

.adorn .time {
  width: 100%;
  height: 52px;
  background: rgb(67, 179, 190);
  color: #fff;
  font-size: 25px;
  line-height: 52px;
  text-align: center;
  font-weight: 600;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.adorn .adorn-content {
  width: 100%;
  height: calc(100% - 52px);
  padding: 10px 30px 10px 60px;
  background: #fff;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.adorn-content .adorn-item {
  width: 25%;
  height: 34px;
  margin-top: 26px;
  float: left;
}

.adorn-content .adorn-item p {
  width: 108px;
  height: 100%;
  line-height: 34px;
  text-align: center;
  border: 1px solid rgb(198, 204, 202);
  font-size: 18px;
  margin-right: -1px;
  display: inline-block;
}

.adorn-content .adorn-item p:hover {
  border-color: rgb(67, 179, 190);
  color: rgb(67, 179, 190);
}

.adorncurrent {
  border-color: rgb(67, 179, 190);
  color: rgb(67, 179, 190);
}

.adorn-content .adorn-item i {
  display: inline-block;
}


/* 右1 */

.search-wapper {
  width: 100%;
  height: 208px;
  float: right;
}

.search-wapper .search-top-wapper {
  width: 100%;
  height: 128px;
  border: 1px solid rgb(199, 199, 199);
  padding: 15px 5px;
  background: #fff;
  border-radius: 5px;
  box-shadow: -2px 1px 12px 0px rgba(0, 0, 0, 0.3);
  padding-left: 4%;
}

.search-wapper .search-top-wapper p {
  font-size: 18px;
  height: 22px;
  line-height: 22px;
  margin-top: 18px;
  float: left;
  width: 30%;
}

.search-wapper .search-top-wapper .time-input {
  font-size: 18px;
  height: 22px;
  line-height: 22px;
  margin-top: 18px;
  float: left;
  width: 40%;
}

.search-wapper .search-top-wapper p input {
  width: 152px;
  height: 100%;
  background: rgb(221, 221, 221);
  padding-left: 15px;
  margin-left: 3px;
}

.search-wapper .search-top-wapper p select {
  background: rgb(221, 221, 221);
  border: 1px solid rgb(221, 221, 221);
  margin-left: 1px;
  width: 149px;
  border-radius: 0px;
  outline: none;
  height: 22px;
}

.search-wapper .select-date {
  width: 72%;
  height: 58px;
  line-height: 58px;
  border: 1px solid rgb(199, 199, 199);
  margin-top: 20px;
  font-size: 14px;
  float: left;
  background: #fff;
  border-radius: 5px;
  box-shadow: -2px 1px 12px 0px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: space-around;
}

.search-wapper .search-buttons {
  width: 27%;
  height: 58px;
  line-height: 58px;
  border: 1px solid rgb(199, 199, 199);
  margin-top: 20px;
  font-size: 16px;
  float: right;
  background: #fff;
  border-radius: 5px;
  box-shadow: -2px 1px 12px 0px rgba(0, 0, 0, 0.3);
}

.search-wapper .select-date .examine span,
.search-wapper .select-date .record-date span {
  display: inline-block;
  /* width: 70px; */
  font-size: 18px;
}

.search-wapper .select-date .record-date {
  float: left;
  /* margin-left: 17px; */
}

.search-wapper .select-date .examine input,
.search-wapper .select-date .record-date input {
  display: inline-block;
  /* margin-right: 7px; */
  vertical-align: middle;
  width: 15px;
  height: 15px;
  margin-bottom: 2px;
  border-color: rgb(220, 220, 220);
  cursor: pointer;
}

.search-wapper .select-date .record-date i {
  display: inline-block;
  font-size: 18px;
}

.search-wapper .select-date .examine {
  float: left;
  font-size: 18px;
  margin-left: 3%;
}

.search-wapper .search-buttons .reset,
.search-wapper .search-buttons .search {
  float: left;
  cursor: pointer;
  overflow: hidden;
  width: 25%;
  margin-left: 7%;
}

.search-wapper .search-buttons .reset {
  margin: 0px 5%;
}

.search-wapper .search-buttons .img-box img {
  width: 14px;
  height: 14px;
  display: inline-block;
}

.search-wapper .search-buttons .check-in {
  color: red;
  cursor: pointer;
  float: left;
}

.m-b-17 {
  margin-bottom: 37px;
}

.m-r-18 {
  display: inline-block;
  /* margin-right: 11px; */
}

.m-r-10 {
  display: inline-block;
  margin-right: 10px;
}

.m-l-30 {
  margin-left: 30px;
}

.filtration input[type='checkbox'] {
  width: 20px;
  height: 20px;
  background-color: #fff;
  border: 1px solid #c9c9c9;
  border-radius: 2px;
  outline: none;
  zoom: 80%;
  margin-right: 5px;
}

.table-wapper {
  width: 100%;
  height: 70vh;
  overflow: hidden;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: -10px;
  top: 20px;
  color: #000;
  background-color: #fff;
  min-width: 80px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 0px;
  z-index: 30;
}

.dropdown-content p {
  padding: 5px 0px;
}

.dropdown-content p:hover {
  background: rgba(228, 239, 255);
  color: rgba(63, 133, 237);
}


/* .dropdown:hover .dropdown-content {
  display: block;
} */


/* 设置弹框样式 */

#popLayer {
  display: none;
  background-color: #000;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  -moz-opacity: 0.6;
  opacity: .6;
  filter: alpha(opacity=60);
  /* 只支持IE6、7、8、9 */
}

#config-pop {
  display: none;
  background-color: #FFFFFF;
  z-index: 11;
  width: 530px;
  min-height: 300px;
  padding: 20px;
  position: fixed;
  top: calc((100% - 300px) / 2);
  right: 0;
  left: 0;
  margin: auto;
  box-shadow: 1px 1px 50px rgba(0, 0, 0, .3);
  padding-bottom: 40px;
  overflow: hidden;
}

#config-pop .title {
  font-size: 20px;
  text-align: center;
  height: 40px;
  line-height: 40px;
  font-weight: bold;
  position: relative;
}

#config-pop .from-box {
  padding: 0px 10px;
}

.from-box #count {
  width: 50%;
  height: 30px;
  border: 1px solid #ccc;
  margin-left: 20px;
  padding-left: 10px;
}

.from-box .info {
  margin-top: 20px;
}

.from-box .info-title {
  float: left;
  width: 84px;
}

.from-box .info-input-box {
  float: left;
  width: calc(100% - 104px);
  margin-left: 20px;
  padding-bottom: 30px;
}

.info-input-format {
  display: flex;
  align-items: center;
  float: left;
  margin-bottom: 10px;
  width: 33%;
}

.info-input-format input {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.button-groups {
  width: 60%;
  height: 40px;
  position: absolute;
  bottom: 20px;
  left: 20%;
}

.button-groups .comfire {
  width: 120px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  color: #fff;
  background: #409eff;
  float: left;
  border-radius: 5px;
  cursor: pointer;
}

.button-groups .cancel {
  width: 120px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  color: #fff;
  background: #909399;
  float: right;
  border-radius: 5px;
  cursor: pointer;
}


/* 导出病例弹框 */

#case-pop {
  display: none;
  background-color: #FFFFFF;
  z-index: 11;
  width: 500px;
  height: 300px;
  padding: 20px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  box-shadow: 1px 1px 50px rgba(0, 0, 0, .3);
  overflow: hidden;
}

#case-pop .title {
  font-size: 20px;
  text-align: center;
  height: 40px;
  line-height: 40px;
  font-weight: bold;
}

#case-pop .case-time {
  width: 90%;
  margin-left: 5%;
  display: flex;
}

#case-pop .data-button-groups {
  width: 80%;
  margin-left: 10%;
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

#case-pop .data-button-groups button {
  width: 60px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border: 1px solid #ccc;
  float: left;
  margin-right: 10px;
}

#case-pop .case-input-box input {
  background: #eeeeef;
  border: 1px solid #e4e4e4;
  width: 150px;
  height: 30px;
  margin-left: 15px;
  padding: 0px 5px;
}


/* 表格 */

#page {
  height: 61vh;
  overflow: hidden;
  background: #f5f5f5;
}

#page #table {
  height: 60vh;
}

#pageBottom {
  width: 100%;
  height: 69px;
  position: absolute;
  right: 20px;
}

.bottom-config {
  height: 72px;
  line-height: 72px;
  cursor: pointer;
  font-size: 14px;
  margin-left: 35%;
}

.bottom-config .img-box {
  float: left;
  display: flex;
  align-items: center;
  height: 22px;
  margin-top: calc((72px - 22px) / 2);
  padding: 0px 5px;
  background: #fff;
}

.bottom-config .img-box img {
  width: 14px;
  height: 14px;
  margin-right: 5px;
}


/* 详情弹框 */

#detail-pop {
  display: none;
  background-color: #FFFFFF;
  z-index: 11;
  /* width: 1100px; */
  height: 700px;
  padding: 20px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  box-shadow: 1px 1px 50px rgba(0, 0, 0, .3);
  overflow: hidden;
  padding: 10px 25px;
  padding-bottom: 70px;
}

#detail-pop .title {
  font-size: 20px;
  text-align: center;
  height: 40px;
  line-height: 40px;
  font-weight: bold;
  display: none;
  border-bottom: 1px solid #000;
  position: relative;
  letter-spacing: 26px;
  padding-left: 13px;
}

#detail-pop .sub-time {
  font-size: 14px;
  text-align: right;
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #000;
  display: none;
  position: relative;
}

#detail-pop #from-wapper {
  width: 100%;
  height: 90%;
  overflow-y: auto;
}

#detail-pop #readonly-wapper {
  width: 100%;
  height: 100%;
}

.readonly-left-box {
  width: 50%;
  height: 100%;
  overflow-y: auto;
  float: left;
}

#detail-pop #readonly-wapper .readonly-right-box {
  width: 50%;
  height: 100%;
  overflow-y: auto;
  float: left;
}

#detail-pop #readonly-wapper .readonly-right-box .sub-title {
  display: block;
  width: 80px;
  float: left;
}

#detail-pop #readonly-wapper .sub-title {
  width: 110px;
  text-align: right;
  display: inline-block;
}

#detail-pop #readonly-wapper .input-value {
  height: 25px;
  line-height: 25px;
  width: calc(100% - 120px);
  display: inline-block;
  padding-left: 10px;
}

#detail-pop #forms .input-line,
#detail-pop #readonly-wapper .detail-line {
  width: 100%;
  height: 25px;
  line-height: 25px;
  margin: 10px 0px;
  padding-right: 10px;
  font-size: 16px;
}

#detail-pop #forms .input-line #data-wapper {
  width: calc(100% - 100px);
  display: inline-block;
  float: left;
}

#detail-pop #forms .input-line #data-wapper input,
#detail-pop #forms .input-line #data-wapper select {
  height: 25px;
  line-height: 25px;
  border: 1px solid #ccc;
  width: 100%;
}

#detail-pop #forms .input-line .search-box {
  padding-left: 100px;
  display: flex;
  align-items: center;
}

#detail-pop #forms .input-line .search-box input {
  width: 80%;
  height: 25px;
  line-height: 25px;
  border: 1px solid #ccc;
  padding-left: 15px;
}

#detail-pop #forms .input-line .search-box .button {
  display: inline-block;
  width: 60px;
  height: 25px;
  line-height: 25px;
  background: #409eff;
  color: #fff;
  text-align: center;
  margin-left: 5px;
  font-size: 14px;
  cursor: pointer;
}

#detail-pop .opt-groups {
  width: 70%;
  height: 40px;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 20px;
  left: 15%
}

#detail-pop .opt-groups .comfire {
  width: 120px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  color: #fff;
  background: #409eff;
  float: left;
  border-radius: 5px;
  cursor: pointer;
}

#detail-pop .opt-groups .comfire,
#detail-pop .opt-groups .middle {
  margin: 0px 10px;
}

#detail-pop .opt-groups .cancel {
  width: 120px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  color: #fff;
  background: #909399;
  float: left;
  border-radius: 5px;
  cursor: pointer;
}

#detail-pop #forms #data-wapper textarea {
  border: 1px solid #ccc;
  width: calc(100% - 110px);
}

#detail-pop #forms .sub-title {
  display: block;
  width: 100px;
  float: left;
  text-align: right;
  padding-right: 10px;
}

#detail-pop #forms .input-style {
  width: calc(100% - 110px);
  height: 25px;
  padding-left: 10px;
  border: 1px solid #ccc;
  margin-right: 10px;
}

#today-wear {
  position: relative;
}


/* 戴机弹框 */

#wear-pop {
  display: none;
  background-color: #FFFFFF;
  z-index: 11;
  width: 400px;
  height: 390px;
  padding: 6px 20px 0px 20px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  box-shadow: 1px 1px 50px rgba(0, 0, 0, .3);
  overflow: hidden;
}

#wear-pop .title {
  font-size: 20px;
  text-align: center;
  line-height: 40px;
  height: 40px;
  margin-bottom: 10px;
}

#wear-pop .wear-input {
  height: 40px;
}

#wear-pop .wear-input span {
  display: inline-block;
  width: 80px;
  text-align: right;
}


/* 已改 */

#wear-pop .wear-input input,
#wear-pop .wear-input select {
  width: 240px;
  height: 25px;
  border: 1px solid #ccc;
  padding-left: 15px;
}

#wear-pop .wear-box .wear-button-groups {
  width: 100%;
  padding: 0 20px;
  margin-top: 30px;
}

#wear-pop .wear-box .wear-button-groups .comfire {
  width: 120px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  color: #fff;
  background: #409eff;
  float: left;
  border-radius: 5px;
  cursor: pointer;
}

#wear-pop .wear-box .wear-button-groups .cancel {
  width: 120px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  color: #fff;
  background: #909399;
  float: right;
  border-radius: 5px;
  cursor: pointer;
}

.printPage {
  visibility: hidden;
  overflow: hidden;
  display: none;
}

#page #editer {
  display: none;
}

#PDF {
  display: none;
  background-color: rgb(82, 86, 89);
  z-index: 11;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  /* visibility: hidden; */
}

.select-person p span {
  display: inline-block;
  width: 60px;
}

.select-person p {
  width: 240px;
  height: 20px;
  line-height: 20px;
  margin: 3px;
}

.select-person p:hover {
  background: #409EFF;
  color: #fff;
}

.colorRed {
  color: red;
}