  table.bt thead,
  table.bt tbody th {
    display: none;
  }
  
  table.bt tfoot th,
  table.bt tfoot td,
  table.bt tbody td {
    border: none;
    display: block;
    vertical-align: top;
  }
  
  table.bt tfoot th:before,
  table.bt tfoot td:before,
  table.bt tbody td:before {
    content: attr(data-th) ": ";
    font-weight: bold;
    display: inline-block;
  }
  
  table.bt tfoot th.bt-hide,
  table.bt tfoot td.bt-hide,
  table.bt tbody td.bt-hide {
    display: none;
  }
  
  table.bt tfoot th .bt-content,
  table.bt tfoot td .bt-content,
  table.bt tbody td .bt-content {
    vertical-align: top;
  }
  
  .reponsetable {
    padding: 0;
    width: 100%;
    border-collapse: collapse;
    margin: 20px auto;
  }
  
  #page #table th,
  #page #table td {
    border-width: 1px;
    border-style: solid;
    border-color: #b5b5b6;
  }
  
  #page #table th {
    background: #dcdddd;
  }
  
  .reponsetable thead {
    background: #f2f2f2;
  }
  
  .reponsetable span {
    color: #000;
    cursor: pointer;
    float: left;
    width: 33%;
    text-align: center;
  }
  
  .reponsetable span img {
    width: 14px;
    height: 14px;
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
  }
  
  .reponsetable th,
  .reponsetable td {
    position: relative;
    padding: 10px;
    min-height: 20px;
    line-height: 20px;
    font-size: 14px;
    max-width: 230px;
    text-align: center;
  }
  
  .bt-wrapper.active {
    max-height: 310px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }
  
  .yesbei {
    background: #fcf8e3 !important;
  }
  
  .reponsetable tr:nth-child(odd) {
    background: #fff;
  }
  
  .reponsetable tr:nth-child(even) {
    background: #dcdddd;
  }
  
  .layui-btn {
    display: inline-block;
    vertical-align: middle;
    height: 38px;
    line-height: 38px;
    padding: 0 18px;
    background-color: #009688;
    color: #fff;
    white-space: nowrap;
    text-align: center;
    font-size: 14px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
  }
  
  .layui-btn-xs {
    height: 22px;
    line-height: 22px;
    padding: 0 5px;
    font-size: 12px;
  }
  
  #page table tbody {
    display: block;
    height: 53vh;
    overflow-y: auto;
    overflow-x: hidden;
  }
  /* #page table tbody::-webkit-scrollbar {
    display: none;
  } */
  /*滚动条样式：谷歌浏览器下*/
  
   ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: #f5f7fa;
  }
  /*滚动条的轨道*/
  
   ::-webkit-scrollbar-track {
    /*box-shadow: inset 0 0 5px rgba(0,0,0,.3);*/
    background-color: #f5f7fa;
  }
  /*滚动条的滑块按钮*/
  
   ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #c5cdd0;
    /*box-shadow: inset 0 0 5px #000;*/
  }
  /*滚动条的上下两端的按钮*/
  
   ::-webkit-scrollbar-button {
    height: 0px;
    /* background-color: #B0AEDA; */
  }
  
  #page table thead {
    display: table;
    width: calc(100% - 1px);
    table-layout: fixed;
  }
  
  #page table tbody tr {
    display: table;
    width: calc(100% - 1px);
    table-layout: fixed;
  }
  
  #page #table .Name,
  #page #table .Age,
  #page #table .Gender,
  #page #table .EquipmentNo,
  #page #table .cash,
  #page #table .Status {
    width: 5%;
  }
  
  #page #table .DevID {
    width: 7%;
  }
  
  #page #table .Info,
  #page #table .RUID,
  #page #table .Phone,
  #page #table .CreateTime,
  #page #table .WearTime {
    width: 10%;
  }
  
  #page #table .Info {
    text-align: left;
    padding-left: 10px;
  }
  
  .alertceng {
    background: #FFFFFF;
    display: block;
  }
  
  .alertceng span.title {
    margin-right: 10px;
  }
  
  .reponsetable .more {
    color: #000;
    cursor: pointer;
    width: 33%;
    position: relative;
    text-align: center;
    float: left;
  }
  
  .reponsetable .more img {
    width: 14px;
    height: 14px;
    margin-right: 10px;
    vertical-align: middle;
  }