/* 全局reset css */

body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
fieldset,
lengend,
button,
input,
textarea,
div,
label,
span {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  font-size: 14px;
  font-family: 'Droid Sans Fallback Roboto PingFangSC-Regular';
  overflow: hidden;
}

html {
  font-size: 100px;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

i {
  font-style: normal;
}

input {
  border: none;
  outline: none;
}

div {
  word-wrap: break-word;
  word-break: break-word;
}

img {
  max-width: 100%;
}


/* 左滑入场 */

.exercise-slide-right-enter-active {
  transition: all .7s ease;
}

.exercise-slide-right-leave-active {
  transition: all .5s ease;
}

.exercise-slide-right-enter {
  transform: translateX(80px);
  opacity: 0;
}

.exercise-slide-right-leave-to {
  transform: translateX(-80px);
  opacity: 0;
}


/* 右滑入场 */

.exercise-slide-left-enter-active {
  transition: all .7s ease;
}

.exercise-slide-left-leave-active {
  transition: all .5s ease;
}

.exercise-slide-left-enter {
  transform: translateX(-80px);
  opacity: 0;
}

.exercise-slide-left-leave-to {
  transform: translateX(80px);
  opacity: 0;
}


/* 淡入淡出 */

.fade-enter-active,
.fade-leave-active {
  transition: all .3s ease;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}

.word_finished_pop_fade-enter-active,
.word_finished_pop_fade-leave-active {
  transition: opacity .2s cubic-bezier(.55, 0, .1, 1);
}

.word_finished_pop_fade-enter,
.word_finished_pop_fade-leave-active {
  opacity: 0;
}

.word_finished_pop_bounce-enter,
.word_finished_pop_bounce-leave-active {
  transform: scale(0.7);
  opacity: 0;
}

.word_finished_pop_bounce-enter-active,
.word_finished_pop_bounce-leave-active {
  transition: .2s;
}

.hd {
  display: none;
}


/* loading */

#loadingDiv {
  display: none;
}

#over {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f5f5f5;
  opacity: 0.5;
  z-index: 1000;
}

#layout {
  position: absolute;
  top: calc((100% - 50px) / 2);
  left: calc((100% - 50px) / 2);
  width: 50px;
  height: 50px;
  z-index: 1001;
  text-align: center
}

#layout img {
  -webkit-animation: turn 1s linear infinite;
  -o-animation: turn 1s linear infinite;
  -moz-animation: turn 1s linear infinite;
  animation: turn 1s linear infinite;
}

@-webkit-keyframes turn {
  0% {
    -webkit-transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(90deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
  }
  75% {
    -webkit-transform: rotate(270deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@-o-keyframe turn {
  0% {
    -webkit-transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(90deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
  }
  75% {
    -webkit-transform: rotate(270deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes turn {
  0% {
    -webkit-transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(90deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
  }
  75% {
    -webkit-transform: rotate(270deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes turn {
  0% {
    -webkit-transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(90deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
  }
  75% {
    -webkit-transform: rotate(270deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

#config-pop {
  display: none;
  background-color: #FFFFFF;
  z-index: 11;
  width: 530px;
  min-height: 300px;
  padding: 20px;
  position: fixed;
  top: calc((100% - 300px) / 2);
  right: 0;
  left: 0;
  margin: auto;
  box-shadow: 1px 1px 50px rgba(0, 0, 0, .3);
  padding-bottom: 40px;
  overflow: hidden;
}

#config-pop .title {
  font-size: 20px;
  text-align: center;
  height: 40px;
  line-height: 40px;
  font-weight: bold;
  position: relative;
}

#config-pop .from-box {
  padding: 0px 10px;
}

.from-box #count {
  width: 50%;
  height: 30px;
  border: 1px solid #ccc;
  margin-left: 20px;
  padding-left: 10px;
}

.from-box .info {
  margin-top: 20px;
}

.from-box .info-title {
  float: left;
  width: 84px;
}

.from-box .info-input-box {
  float: left;
  width: calc(100% - 104px);
  margin-left: 20px;
  padding-bottom: 30px;
}

.info-input-format {
  display: flex;
  align-items: center;
  float: left;
  margin-bottom: 10px;
  width: 33%;
}

.info-input-format input {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.button-groups {
  width: 60%;
  height: 40px;
  position: absolute;
  bottom: 20px;
  left: 20%;
}

.button-groups .comfire {
  width: 120px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  color: #fff;
  background: #409eff;
  float: left;
  border-radius: 5px;
  cursor: pointer;
}

.button-groups .cancel {
  width: 120px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  color: #fff;
  background: #909399;
  float: right;
  border-radius: 5px;
  cursor: pointer;
}

.footer {
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: 25px;
}

.footer .main-title {
  color: #302d2e;
  font-size: 14px;
  margin-bottom: 5px;
}

.footer p {
  font-size: 12px;
  color: #787172;
}

.footer .logo {
  width: 14px;
  height: 14px;
  display: inline-block;
  vertical-align: middle;
}

.footer .cfda {
  width: 42px;
  height: 10px;
  display: inline-block;
  vertical-align: middle;
}


/* 底部样式 */

.index-bottom {
  height: 22px;
  width: 100%;
  background: #3e3a39;
  position: absolute;
  bottom: 0px;
  z-index: 111;
  color: #fff;
}

.index-bottom p {
  width: 400px;
  margin-left: 5px;
  line-height: 22px;
  float: left;
}

.index-bottom ul {
  float: right;
}

.index-bottom a {
  color: #1989fa;
  cursor: pointer;
}

.index-bottom ul li {
  float: right;
  line-height: 22px;
  margin-right: 20px;
}