/* .table-b .title {
  width: 100%;
  height: 60px;
  line-height: 60px;
  background: #c5cdd1;
}

.table-b table th {
  display: inline-block;
  text-align: center;
  font-size: 18px;
}

.table-b table tr {
  display: block;
} */


/* .table-width-80 {
  width: 5%;
  float: left;
}

.table-width-90 {
  width: 9%;
  float: left;
}

.table-width-120 {
  width: 15%;
  float: left;
}

.table-border-right {
  border-right: 1px solid #f9fcfc;
}

.table-b table td {
  text-align: center;
  padding: 30px 0px;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.sroll-area {
  height: 60vh;
  width: 100%;
  overflow-y: auto;
  border-left: 1px solid #ccc;
}

.isCurrentStyle {
  color: #fff !important;
  border: 1px solid #077ee3;
  background: #077ee3;
} */

.page_div {
  font-size: 15px;
  font-family: "microsoft yahei";
  color: #666666;
  box-sizing: border-box;
  position: absolute;
  right: 30px;
  bottom: 30px;
}


/*
   * 页数按钮样式
   */

.page_div a {
  min-width: 30px;
  height: 28px;
  border: 1px solid #dce0e0!important;
  text-align: center;
  margin: 0 4px;
  cursor: pointer;
  line-height: 28px;
  color: #666666;
  font-size: 13px;
  display: inline-block;
}

#firstPage,
#lastPage {
  width: 50px;
  color: #0073A9;
  border: 1px solid #0073A9!important;
}

#prePage,
#nextPage {
  width: 70px;
  color: #0073A9;
  border: 1px solid #0073A9!important;
}

.page_div .current {
  background-color: #0073A9;
  border-color: #0073A9;
  color: #FFFFFF;
}

.totalPages {
  margin: 0 10px;
}

.totalPages span,
.totalSize span {
  color: #0073A9;
  margin: 0 5px;
}